body {
  font-family: "Crimson Text", serif;
  font-size: 14px;
  font-weight: 250;
  color: white;
  position: relative;
}
#main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.5s ease;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#main-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
.mycontent {
  display: flex;
  align-items: center;
  padding: 50px 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  flex-direction: column;
}
.mycol {
  display: flex;
  align-items: center;
}
.myheader {
  margin: 10px;
  text-align: right;
  width: 100%;
}
/* -- Animated hr -- */
hr {
  border: 0;
  clear: both;
  display: block;
  margin: 2.4rem auto;
  text-align: center;
  width: 100%;
}
.progress {
  background: grey;
  height: 1px;
  overflow: hidden;
  position: relative;
}

.progress::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progress;
  background: white;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 80px;
}

@keyframes progress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}
/* -- Animated hr END -- */
.content {
  max-width: 370px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid__item {
  margin: 10px;
}
.product {
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.nav-link {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 165px;
  height: 165px;
  text-align: center;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
}
.product:hover {
  background: black;
  color: #a9a9a9;
}
.nav-icon {
  display: block;
  margin-bottom: 35px;
}
.nav-text {
  font-size: x-large;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.product__bg {
  width: 100%;
  height: 100%;
  top: 0px;
}
.title-sub {
  font-weight: 350;
}
.product__description {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  position: absolute;
}

/*- SUB PAGES DETAIL-*/
.my-fa-close {
  font-size: 30px;
}

.details {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  padding: 15px;
  display: none;
}

.details > * {
  position: relative;
  opacity: 0;
}

.details--open {
  pointer-events: auto;
}

.details__bg {
  width: 100%;
  max-width: 900px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.details__bg--down {
  background: #2c2a35;
}

.details__bg {
  padding: 50px;
  transform-origin: 0 0;
}

.details__close {
  position: absolute;
  top: 5px;
  right: 0;
  border: 0;
  background: none;
  margin: 1em;
  cursor: pointer;
  font-size: 0.85em;
  color: white;
  z-index: 1001;
}
/*- SUB PAGES DETAIL END-*/
