body {
  font-family: "Crimson Text", serif;
  font-size: 14px;
  font-weight: 250;
  color: white;
  position: relative;
}
#main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg/bg6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  transition: all 0.5s ease;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
#main-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#main-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}
